:root {
  --strongCyan: hsl(172, 67%, 45%);
  --veryDarkCyan: hsl(186, 14%, 43%);
  --verDarkCyan: hsl(183, 100%, 15%);
  --darkGrayCyan: hsl(184, 14%, 56%);
  --lightGrayCyan: hsl(185, 41%, 84%);
  --lighGrayCyan2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}



body {
  padding: 0;
  margin: 0;
  font-family: 'Space Mono', monospace;
  background-color: var(--lightGrayCyan);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

input {
  padding: 0;
  margin: 0;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  padding: 12px 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--lighGrayCyan2);
  color: var(--veryDarkCyan);
  font-weight: bold;
  font-size: 18px;
  position: relative;
}

input::placeholder {
  color: var(--darkGrayCyan);
  font-family: 'Space Mono', monospace;

}

#bill {
  cursor: pointer;
}


#bill:focus {
  border: 2px solid var(--strongCyan);
}

#custom-tip {
  cursor: pointer;
}

#custom-tip:focus {
  border: 2px solid var(--strongCyan);

}

.empty {
  border: 2px solid red;
}


.error-msg {
  display: none;
  color: red;
  font-weight: bold;
}

.text {
  display: flex;
  justify-content: space-between;
}

.bill_label {
  color: var(--veryDarkCyan);
  font-weight: 600;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--white);
  border-radius: 25px;
}

.inner {
  padding: 50px 30px;
}

.logo {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.calculator {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  background-color: var(--white);
  border-radius: 10px;
}

.calculator__left {
  width: 100%;
}

.calculator__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.calculator__right {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--verDarkCyan);
  padding: 50px 30px;
  border-radius: 25px;
}

.amount {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.total {
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
}

.title {
  color: var(--white);
}

.title > span {
  color: var(--lightGrayCyan);
  font-size: 12px;
}

.reset-btn {
  align-content: flex-end;
  background-color: var(--veryDarkCyan);
  border: none;
  font-size: 25px;
  padding: 5px 10px;
  text-transform: uppercase;
  color: var(--verDarkCyan);
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
}

.reset-btn:hover {
  background-color: var(--lightGrayCyan);
}

.active-btn {
  background-color: var(--strongCyan);
}

.sum {
  font-size: 42px;
  color: var(--strongCyan);
  font-weight: bold;
}

.tip-percent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 0;
  justify-content: space-between;
}

.disabled {
  pointer-events: none;
  opacity: .4;
}

.tip-control {
  width: 112px;
  margin-bottom: 25px;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
  margin-right: 15px;
  cursor: pointer;
  transition: all .2s ease;
  font-weight: bold;
}


.tip-control:hover {
  background-color: var(--lightGrayCyan);
  color: var(--verDarkCyan);
}

.tip-control> input {
  display: none;
}


#custom-tip {
  padding: 10px 15px;
  width: 112px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.uncheked {
  background-color: var(--verDarkCyan);
  color: var(--white);
}

.checked {
  background-color: var(--strongCyan);
  color: var(--verDarkCyan);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 728px) {
  .calculator {
    display: block;
  }
}